
// Cores

// Primary
$clr-light-red: hsl(0, 100%, 67%);
$clr-light-red-bg: hsl(0, 100%, 97%);
$clr-orangey-yellow: hsl(39, 100%, 56%);
$clr-orangey-yellow-bg: hsl(39, 100%, 96%);
$clr-green-teal: hsl(166, 100%, 37%);
$clr-green-teal-bg: hsl(166, 100%, 97%);
$clr-cobalt-blue: hsl(234, 85%, 45%);
$clr-cobalt-blue-bg: hsl(234, 85%, 95%);

//Background

$clr-light-slate-blue: hsl(252, 100%, 67%);
$clr-light-royal-blue: hsl(241, 81%, 54%);
$clr-violet-blue: hsla(256, 72%, 46%, 1);
$clr-persian-blue: hsla(241, 72%, 46%, 0);

//Neutral

$clr-white: hsl(0, 0%, 100%);
$clr-pale-blue: hsl(221, 100%, 96%);
$clr-light-lavender: hsl(241, 100%, 89%);
$clr-dark-gray-blue: hsl(224, 30%, 27%);

// Fontes

$ff-hanken: 'Hanken Grotesk', sans-serif;
$fs-paragraph: 18px;
$fw-base: 500;
$fw-bold: 700;
$fw-extra-bold: 800;